@keyframes moveRight {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(50%, 0);

    }
}

@keyframes moveLeft {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-50%, 0);
       }
}

@keyframes moveUp {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(60%);
        opacity: 1;
    }
}

@keyframes scaleHorizontal {
    0% {
        width: 368px;
    }

    100% {
        width: 736px;
    }
}


