@media screen and (max-width:760px) {
    .product:before {
        height: 0;
        animation: scaleVertical 1s ease forwards;
        animation-delay: 2s;
    }

    .resultCard {
        padding: 24px;
        border-radius: 0 0 32px 32px;
        animation: moveUp 1s ease forwards;
        animation-delay: 2s;
        top: 0
    }

    .averageScore {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }

    .averageNum {
        font-size: 50px;
    }

    .resultTitle {
        padding-bottom: 18px;
    }

    .summaryTitle {
        font-size: 18px;
    }

    .score {
        font-size: 24px;
    }

    .description {
        font-size: 16px;
        max-width: 280px;
    }

    .summaryCard {
        padding: 24px;
        height: 0;
        overflow: hidden;
        border-radius: 0 0 32px 32px;
        animation: moveDown 1s ease forwards;
        animation-delay: 2s;
    }

    .button {
        margin-top: 24px;
    }
}

@media screen and (max-width:400px) {
    .resultCard {
        border-radius: 0 0 32px 32px;
    }

    .summaryCard {
        border-radius: 0;
    }
}