@import url(/assets/css/reset.css);
@import url(/assets/css/global.css);
@import url(/assets/css/animation.css);

.product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.product:before {
    position: absolute;
    background: var(--white);
    border-radius: 32px;
    box-shadow: 0 20px 50px 10px var(--pale-blue);
    width: 368px;
    height: 512px;
    content: "";
    animation: scaleHorizontal 1s ease forwards;
    animation-delay: 2s;
}

.resultCard {
    position: absolute;
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 368px;
    border-radius: 32px;
    padding: 38px 59px;
    color: var(--light-lavender);
    background: linear-gradient(var(--light-slate-blue-background), var(--light-royal-blue-background));
    animation: moveLeft 1s ease forwards;
    animation-delay: 2s;
}

.resultTitle {
    font-size: 24px;
    margin: 0;
    padding-bottom: 34px;
    padding-right: 6px;
}

.averageScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 28px;
    background: linear-gradient(var(--violet-blue-circle), var(--persian-blue-circle));
}

.averageNum {
    font-size: 70px;
    font-weight: 800;
    height: 85px;
    color: var(--white);
    transition: all 2s;
}

.scaleNum {
    opacity: 0.5;
}

.score {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 14px;
    padding-right: 3px;
    color: var(--white);
}

.description {
    max-width: 300px;
    font-size: 18px;
    margin-bottom: 17.5px;
}

.summaryCard {
    position: absolute;
    background: var(--white);
    border-radius: 32px;
    text-align: center;
    padding: 42px 40px;
    width: 368px;
    animation: moveRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}

.summaryTitle {
    font-size: 24px;
    margin: 0;
    padding-bottom: 28.5px;
    text-align: left;
    color: var(--dark-gray-blue)
}

.summaryList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

.summaryList .row-1 {
    color: var(--light-red);
    background: var(--light-red-light)
}

.summaryList .row-2 {
    color: var(--orangey-yellow);
    background: var(--orangey-yellow-light);
}

.summaryList .row-3 {
    color: var(--green-teal);
    background: var(--green-teal-light);
}

.summaryList .row-4 {
    color: var(--cobalt-blue);
    background: var(--cobalt-blue-light);
}

.summaryList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 12px;
    padding: 16px;
}

.itemTitle {
    display: flex;
    align-items: center;
    gap: 12px;
}

.itemScore {
    display: flex;
    justify-content: space-between;
    width: 71px;
    color: var(--dark-gray-blue);
    font-weight: 700;
}

.dash {
    padding-left: 5px;
    color: var(--mid-gray-blue);
    font-weight: 700;
}

.num {
    color: var(--mid-gray-blue);
}

.button {
    display: block;
    padding: 16px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 42px;
    width: 100%;
    background: var(--dark-gray-blue);
    color: var(--white);
    transition: 1s;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(var(--light-slate-blue-background), var(--light-royal-blue-background));
}


@media screen and (max-width:760px) {
    .product:before {
        animation: scaleVertical 1s ease forwards;
    }

    .resultCard {
        padding: 24px;
        animation: moveUp 1s ease forwards;
    }

    .summaryCard {
        padding: 24px;
        animation: moveDown 1s ease forwards;
    }
}

@media screen and (max-width:400px) {
    .resultCard {
        border-radius: 0 0 32px 32px;
    }

    .summaryCard {
        border-radius: 0;
    }
}