@import url(/assets/css/reaset.css);
@import url(/assets/css/global.css);


.product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--White);
    margin: 22% auto;
    max-width: 0;
    border-radius: 32px;
    box-shadow: 0 20px 50px 10px var(--Pale-blue);
    transition: max-width 2s ease;
}

.showBack {
    max-width: 736px;
    height: auto;
}

.resultCard {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 368px;
    border-radius: 32px;
    padding: 38px 59px;
    color: var(--Light-lavender);
    background: linear-gradient(var(--Light-slate-blue-background), var(--Light-royal-blue-background));
    transition: left 2s;
}

.moveResult {
    left: calc(50% - 184px);
    transform: translate(-50%, 0);
}

.resultTitle {
    font-size: 24px;
    margin: 0;
    padding-bottom: 34px;
    padding-right: 6px;
}

.averageScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 28px;
    background: linear-gradient(var(--Violet-blue-circle), var(--Persian-blue-circle));
}

.averageNum {
    font-size: 70px;
    font-weight: 800;
    height: 85px;
    color: var(--White);
    transition: all 2s;
}

.scaleNum {
    opacity: 0.5;
}

.score {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 14px;
    padding-right: 3px;
    color: var(--White);
}

.description {
    max-width: 250px;
    font-size: 18px;
    margin-bottom: 17px;
}

.summaryCard {
    position: absolute;
    top: 50%;
    left: calc(50%);
    transform: translate(-50%, -50%);
    background: var(--White);
    border-radius: 0 0 32px 32px;
    text-align: center;
    padding: 42px 40px;
    width: 368px;
    transition: left 2s;
}

.showSummary {
    left: calc(50% + 184px);
}

.summaryTitle {
    font-size: 24px;
    margin: 0;
    padding-bottom: 28.5px;
    text-align: left;
    color: var(--Dark-gray-blue)
}

#summary-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

#summary-list .row-1 {
    color: var(--Light-red);
    background: var(--Light-red-light)
}

#summary-list .row-2 {
    color: var(--Orangey-yellow);
    background: var(--Orangey-yellow-light);
}

#summary-list .row-3 {
    color: var(--Green-teal);
    background: var(--Green-teal-light);
}

#summary-list .row-4 {
    color: var(--Cobalt-blue);
    background: var(--Cobalt-blue-light);
}

#summary-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 12px;
    padding: 16px;
}

.itemTitle {
    display: flex;
    align-items: center;
    gap: 12px;
}

.itemScore {
    display: flex;
    justify-content: space-between;
    width: 71px;
    color: var(--Dark-gray-blue);
    font-weight: 700;
}

.dash {
    padding-left: 5px;
    color: var(--Dark-gray-blue-light);
    font-weight: 700;
}

.num {
    color: var(--Dark-gray-blue-light);
}

.button {
    display: block;
    padding: 16px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 42px;
    width: 100%;
    background: var(--Dark-gray-blue);
    color: var(--White);
    transition: 1s;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(var(--Light-slate-blue-background), var(--Light-royal-blue-background));
}

@media screen and (max-width:760px) {

    .product {
        margin: 60% auto;
        width: 0;
    }

    .showBack {
        max-width: 375px;
    }

    .resultCard {
        padding: 32px;
        width: 375px;
        transform: translate(-50%, 0);
        transition: transform 2s;
    }

    .moveResult {
        left: 50%;
        top: -50%;
        transform: translate(-50%, -50%);
    }

    .description {
        margin-bottom: 0;
        font-size: 14px;
        margin: 5% auto;
    }

    .summaryCard {
        padding: 24px;
        transition: top 2s;
        width: 375px;
        box-shadow: 5px 30px 40px 10px var(--Pale-blue);
    }

    .showSummary {
        left: 50%;
        top: 100%;
    }

    .summaryTitle {
        padding-bottom: 24px;
    }

    .button {
        margin-top: 20px;
    }
}

@media screen and (max-width:400px) {
    .product {
        margin: 60% auto;
    }

    .resultCard {
        border-radius: 0 0 32px 32px;
    }

    .summaryCard {
        border-radius: 0;
    }
}